<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="#">
                        Blog Admin Paneli
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright pull-right">
            Tüm Hakları Saklıdır &copy; {{test | date: 'yyyy'}}, <a href="#">Serkan Soy</a>
        </div>
    </div>
</footer>
