<div class="example-container">
  <mat-toolbar>Blog Yazısı Ekle</mat-toolbar>
  <form
    class="example-container"
    (submit)="onSavePost(postForm)"
    #postForm="ngForm"
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Başlık"
        name="title"
        [ngModel]="post?.title"
      />
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Blog Yazısı"
        rows="10"
        name="body"
        [ngModel]="post?.body"
      ></textarea>
    </mat-form-field>

    <div style="padding: 0 30px 0 30px;">
      <label>Durum: </label>
      <mat-radio-group name="status" [ngModel]="post?.status">
        <mat-radio-button value="1">Yayında</mat-radio-button>
        <mat-radio-button value="2">Gizli</mat-radio-button>
        <mat-radio-button value="3">Taslak</mat-radio-button>
      </mat-radio-group>

      <div style="float: right;">
        <label>Yorum İzni: </label>
        <mat-radio-group name="allowComments" [ngModel]="post?.allowComments">
          <mat-radio-button value="1">Açık</mat-radio-button>
          <mat-radio-button value="2">Kapalı</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div style="padding: 0 30px 0 30px;">
      <mat-form-field>
        <mat-select
          placeholder="Kategori"
          name="category"
          [ngModel]="post?.category"
        >
          <mat-option value="1">Seyehat</mat-option>
          <mat-option value="2">Spor</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="float: right;">
        <label style="margin-right: 5px;">Fotoğraf: </label>
        <button mat-stroked-button type="button" (click)="filePicker.click()">
          Fotoğraf Seç
        </button>
        <input type="file" #filePicker />
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      style=" float: right;width: 110px;margin-left: auto;"
    >
      Ekle
    </button>
  </form>
</div>
